<div class="card" style="width: 50rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> Name:{{empoloyeedetails.name}}</h5>
      <p class="card-text">Employee Numer:{{empoloyeedetails.id}}</p>
      <p class="card-text">Age:{{empoloyeedetails.age}}</p>
      <p class="card-text">Department:{{empoloyeedetails.department}}</p>
     
      <a href="update/{{empoloyeedetails.id}}" class="btn btn-primary">Edit</a> &nbsp;
      <a href="delete/{{empoloyeedetails.id}}" class="btn btn-primary">Delete</a>
    </div>
  </div>